.digit {
  opacity: 0;
  width: 5rem;
  height: 5rem;
  margin-left: 40rem;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.digit.visible {
  opacity: 1 !important;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none !important;
}
.blue {
  background-color: #0000ff !important; /* blue */
}

.turqoise {
  background-color: #1abc9c !important; /* turqoise */
}

.red {
  background-color: #ff0000 !important; /* red */
}

.green {
  background-color: #00ff00 !important; /* green */
}

.orange {
  background-color: #ffa500 !important; /* orange */
}
.digit:nth-child(2) {
  margin: 5px 0 0 45rem;
}

.digit:nth-child(3) {
  margin: 5px 0 0 50rem;
}

.digit:nth-child(4) {
  margin: 5px 0 0 55rem;
}

.digit:nth-child(5) {
  margin: 5px 0 0 60rem;
}
