.marquee {
  position: relative;
  overflow: hidden;
}
.marquee.animate .marquee__inner {
  animation-play-state: running;
}
.marquee .marquee__inner {
  width: fit-content;
  max-width: 100%; /* Add this line */
  flex-wrap: wrap;
  display: flex;
  position: relative;
  transform: translate3d(-25%, 0, 0);
}
.marquee .row-title {
  padding: 0 10rem;
}
@media (min-width: 1920px) {
  .marquee .row-title {
    margin-left: 2rem;
  }
}
